.App {
  margin: 0 auto;
  max-width: 850px;
}
body {
  font-family: "Karma", serif;
  font-size: 12px;
  background: #ffffff;
}
div.card {
  border-color: #596aca;
  border-style: solid;
  border-width: 4px;
  padding: 25px 15px 5px 15px;
  margin: 25px auto;
}
footer {
  text-align: center;
  font-family: "Karma", serif;
  font-size: small;
}
